* {
  box-sizing: border-box;
}

.Container {
  position: relative;

  width: 100%;

  margin-top: 1vh;
  /* this works */
  /* left: 0;
  right: 0;
  margin: 1vh; */

  display: flex;
  /* flex-direction: row;
  align-items: center; */

  /* box-shadow: inset 0 0 0 3px red; */

  background-color: white;
  border-radius: 10px;
}

.SubContainer {
  position: relative;
  /* height: 3rem; */
  width: 95%;

  margin: 1% 2.5%;

  /* box-shadow: inset 0 0 0 3px red; */
}

.User {
  position: relative;
  height: 1.5rem;
  width: 100%;
  left: 0;

  display: inline;
  /* flex-direction: row;
  align-items: center; */

  font-size: 1rem;
  font-weight: bold;

  /* box-shadow: inset 0 0 0 3px green; */
}

.Message {
  position: relative;

  max-width: 100%;
  left: 0;

  display: inline;
  overflow-wrap: break-word;

  font-size: 1rem;

  /* box-shadow: inset 0 0 0 3px blueviolet; */
}
