.App {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.MessageBox {
  position: relative;
  height: 80%;
  width: 60%;

  overflow: scroll;
  border: 3px solid orangered;

  /* Hide Scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.MessageBox::-webkit-scrollbar {
  display: none;
}
